<ion-header>

  <ion-navbar>
    <ion-title>list-joke</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar [(ngModel)]="searchText" (ionInput)="search()"></ion-searchbar>
  <ion-list inset>
    <button ion-item *ngFor="let joke of jokes" (click)="jokeSelected(joke)">
      {{ joke.setup }}
      {{ joke.id }}
    </button>
  </ion-list>

  <!--ion-list>
    <ion-item-sliding *ngFor="let joke of jokes" (click)="jokeSelected(joke)">
      <ion-item>
        {{joke.setup}}
      </ion-item>
      <ion-item-options side="left">
        <button ion-button (click)="favorite(item)">Favorite</button>
        <button ion-button color="danger" (click)="share(joke)">Share</button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button (click)="unread(joke)">Unread</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list-->

</ion-content>
